.categories {
	background-image: url('../../images/photo-1701054849441-8976ebe4e40b.avif');
	background-size: 100%;
	min-width: fit-content;
	min-height: 78vh;
	background-repeat: no-repeat;

}

#todoh1 {
	background-color: rgba(196, 150, 150, 0.75);
	margin-left: 25%;
	margin-top: 5px;
	margin-bottom: 15px;

}

.table {
	background-color: rgba(196, 150, 150, 0.75);
}